.cardImageCustom{
    height: 60vh;   
    object-fit: cover;
}
.cardText{
    font-size: 15vw;
    color: orangered;
    margin-right:40vw;
    font-weight: bold;
    -webkit-text-stroke: 0.75vh black;
}
.navbarMenu{
    background-color: white;
}
.navSpacing{
    margin-left:0.5vw;
    margin-right: 0.5vw;
}