.cardImageCustom{
    height: 60vh;   
    object-fit: cover;
}
.cardText{
    font-size: 15vw;
    color: orangered;
    margin-right:40vw;
    font-weight: bold;
    -webkit-text-stroke: 0.75vh black;
}
.contactImageCustom{
    height: 30vh;
}
.navbarMenu{
    background-color: white;
}
.navSpacing{
    margin-left:0.5vw;
    margin-right: 0.5vw;
}
p{
    font-size: larger;
}
.professionalStyling{
    object-fit:cover;
    box-shadow:0.35vw 0.35vw rgb(255, 255, 255);
    border:0.35vw groove black;
    border-radius: 0.25vw;
    width: 20vw;
}
.skills{
    max-width: 12vw;
}