/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button {
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s ease !important;
}

button:hover {
    background-color: #adadad;
}